<html>
	<head>

<style>
		body {
		font-family: "Lucida Console", Monaco, monospace;
		padding: 2em;
		}
	</style>
	</head>

<div >
	<p>Headlines - {{  date_str }}</p>

	{% for story in stories %}
		<div>
			- {{ story.title }}
	    </div>
	{% endfor %}
	
	{% for story in stories %}
		<p>
		<div>
			{{ story.title }}

	    </div>
	    <div>
			{{  story.source  }}
	    	| 
			{% for title, date in  story_dates.iteritems() %}
				{% if title == story.title %}
				{{ date  }}
				{% endif %}
			{% endfor %}
	    </div>
	    <div><a href="{{ story.link }}">{{  story.link  }}</a></div>
		<br/>
		</p>
		<p>
		
		{% for title, text in  story_text.iteritems() %}
			{% if title == story.title %}
			<div >{{ text }}</div>
			{% endif %}
		{% endfor %}
	
		
		</p>
		<br/>
	{% endfor %}
	</div>
</html>
