
<html>
<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
	<div class=<"container-fluid">
	<div class="col-sm-1"></div>
		<div class="col-sm-7">
			<h1>Bret Simulator</h1>
			<h3>
			<ol>
				<li>Pick a few stories</li>
				<li>Hit submit</li>
			</ol>
			</h3>
			<hr/>
		<form action="review.html"  method="post">
		{% for story in stories %}
			<p>
			<div>
				<input type="checkbox" name="{{ story.title }}">
				<strong><a href="{{ story.link }}">{{ story.title }}</a></strong>
		    </div>
		    <div>{{  story.source  }}</div>
			<div>{{  story.content_snippet  }}</div>
			</p>
		{% endfor %}
		
		<hr/>
		  <input type="submit" value="Submit">
		</form>
		</div>
	<div class="col-sm-1"></div>
	</div>
</body>
</html>
